.cartView{
    padding: 5rem;
}
/* cartWidget */

.iconoContenedor{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;

}


.iconoContenedor .icono .cartWigdet{
    color: #808080;
}

.cartCountBox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: -15px;  
}


.cartCount{
    width: 22px;
    height: 22px;
    border-radius: 20px;
    text-align: center;
    font-size: 0.8rem;
    text-decoration: none;
    background-color: green;
    color: whitesmoke;
}
.dataView{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.dataView img{
    width: 10%;
    height: 10%;

}

.precioTotal{
    text-align: center;
    font-size: 2rem;
    color: green;
    font-weight: bolder;
}

.form{
    border: 1px solid black;
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
}


