.header{
    height: 20vh;
    background-color: rgb(227, 225, 225);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header .pagesBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .pagesBox .pages{
    display: flex;
    align-items: center;
    margin: 0;
    list-style: none;
    
}

.header .pagesBox .pages .page{
    padding: 0 2rem;
    justify-content: space-between;
    padding-left: 10px;
    text-decoration: none;
    color: grey;
}

.header .pagesBox .pages .page-active{
    color: rgb(31, 31, 31);
}

.divMessage{
    background-color: green;
    color: whitesmoke;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    
}

.searchContainer{
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: whitesmoke;
    padding-left: 10px;
}

.searchIcon{
    color: #808080;
}