
.homeContainer{
    padding: 5rem;
    border-bottom: 2px solid green;
}

.homeContainer h1{
    font-size: 6rem;
}

.homeContainer h1 span{
    color: green;
    font-size: 7rem;
}

.homeContainer h2{
    font-size: 1rem;
}


